**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
../.idea/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
application/Dockerfile
**/Thumbs.db
.github/
docs/
application/tests/
application/var/
application/vendor/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
.env.example
application/composer.lock